<!DOCTYPE html>
<html>

<head>
    <title>stone-check - Stone Classification</title>
</head>

<body>

    <div>
        <h1>stone-check</h1>
        <h2>A prototype for geometric image processing of stone images in search for defects.</h2>

        <form method="POST" enctype="multipart/form-data" action="../../api/stone/classify">
            <span>Select a stone image for upload:</span>
            <input type="file" name="document" />
            <input type="submit" />
        </form>
    </div>
</body>

</html>